@media screen and (min-width: 700px) {
    header {
        background-color: rgb(5, 5, 139);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        max-width: 1000px;
    }

    header span {
        font-size: 2rem;
        font-weight: bolder;
        color: aliceblue;
        margin-left: 1rem;
    }

    nav {
        display: block !important;
        max-width: 1000px;
        margin: 0 auto;
    }
    

    .direction {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(7,41,73);
        padding:10px
    }

    .direction a {
        display: block;
        flex: 1;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bolder;
        padding: 10px;
        text-align: center;
        color: #faebd7;
        transition: background-color 0.3s;
    }

    .direction a:hover {
        background-color: rgb(161, 134,134, 0.916);
    }

    .direction a:focus {
        outline: 2px solid rgb(5, 5, 139);
        outline-offset: 2px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 0.6fr;
        grid-gap: 1.5rem;
        padding-left: 0 20px;
        max-width: 1000px;
        margin: 1rem auto;
        
    }

    h1 {
        grid-column: 1 / -1;
        padding: 20px 0;
        font-size: 2rem;
        font-weight: bolder;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        
    }

    .card{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 15px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    footer {
        background-color: rgb(5, 5, 139);
        font-size: 1.2rem;
        color: aliceblue;
        text-align: center;
        margin-top: 1rem;
        padding: 15px;
        max-width: 1000px;
    }

    .active {
        position: relative;
    }

    .active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 25%;
        width: 50%;
        height: 3px;
        background-color: aliceblue;
    }
}