@media screen and (min-width: 700px) {
    :root {
        --max-width: 1000px;
    }

    header, nav, main, footer {
        max-width: var(--max-width);
    }
    header {
        padding: 1rem 2rem;
        justify-content: flex-start;
    }

    header span {
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }

    nav {
        display: block !important;
        max-width: var(--max-width);
        border-radius: 0;
    }
    
    #menu {
        display: none;
    }

    .direction {
        flex-direction: row;
        padding: 0;
        border-radius: 0;
    }

    .direction a {
        padding: 1.2rem;
        font-size: 1.1rem;
    }

    main {
        grid-template-columns: 1fr 0.6fr;
        padding: 2rem;
        margin: 2rem auto;
    }

    h1 {
        grid-column: 1 / -1;
        font-size: 2rem;
        padding: 1.5rem 0;
    }

    .card {
        padding: 1.8rem;
    }

    footer {
        padding: 2rem;
        font-size: 1.1rem;
    }

    .active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 25%;
        width: 50%;
        height: 3px;
        background-color: var(--accent-color);
        border-radius: 3px;
    }
}